.webcam {
}
.takePic {
  margin-top: 42px;
  margin-left: -200px;
}
.gallery {
  margin-top: 42px;
  margin-left: -250px;
}

.modal {
  position: relative;
  z-index: 3;
}

.single_image_modal {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.all_image_container {
  display: flex;
  flex-wrap: wrap;
}
.close-button {
  margin-left: 500px;
  margin-top: 30px;
}
